{% extends "AppBundle::layout.html.twig" %}

{% block body %}
<h3>Add a trick</h3>


    {% form_theme form 'jquery.collection.html.twig' %}
    {{ form(form) }}

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.images-collection, .videos-collection').collection({
            allow_up: false,
            allow_down: false,
            add: '<a class="waves-effect black btn add-field"><i class="material-icons">add</i>',
            remove: '<a class="waves-effect black btn add-field"><i class="material-icons">delete</i>',
        });
    </script>
{% endblock %}
