<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SnowTrick</h5>
                <p class="white-text text-lighten-1">The community platform of the best snowboard tricks</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container white-text text-darken-1">
            © 2017 SnowTricks
            <a class="white-text text-darken-1 right" href="mailto:nathan.meyer-pro@live.fr">created by Nathan MEYER</a>
        </div>
    </div>
</footer>