<div class="slider hide-on-small-only">
    <ul class="slides">

        {% for trickImage in trick.images %}
        {% if trickImage.alt is not null %}
        <li>
           <img src="{{ asset(vich_uploader_asset(trickImage, 'imageFile')) }}" width="300" height="300"
                 alt="{{ trickImage.alt }}"> <!-- random image -->

            {% endif %}
            {% endfor %}

        </li>
    </ul>
</div>
