<div class="head hide-on-small-only">
    <div class="slider home">
        <ul class="slides home">
            <li>
                <img class="responsive-img" src="{{ asset('uploads/img/slide-home1.jpg') }}"> <!-- random image -->
            </li>
            <li>
                <img class="responsive-img" src="{{ asset('uploads/img/slide-home2.jpg') }}">
            </li>
            <li>
                <img class="responsive-img" src="{{ asset('uploads/img/slide-home3.jpg') }}">
            </li>
        </ul>
    </div>
</div>
