{# On étend notre layout #}
{% extends "AppBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}

    {# On affiche les messages flash que définissent les contrôleurs du bundle #}

    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="row" style="padding-top:15px;">
                <div class="col s12 m10 l10 offset-m1 offset-l1">
                    <div class="chip black alert">
                        <i class=" close material-icons right white-text">close</i>
                        <i class="material-icons white-text left" style="padding-top: 2px;">check_circle</i>
                        <h6 class="white-text">{{ message|trans({}, 'FOSUserBundle') }}</h6>
                    </div>
                </div>
        </div>
        {% endfor %}
    {% endfor %}

    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}
