{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Update a trick - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Update a trick</h2>

    {%  include "AppBundle:pages:form.html.twig"  %}

    <p>
        <a href="{{ path('view', {'id': trick.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to the trick
        </a>
    </p>

{% endblock %}
