{% trans_default_domain 'FOSUserBundle' %}

    <h3>Edit my profile</h3>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>

        <a href="#" type="submit" class="waves-effect black white-text btn"><input type="submit" value="{{ 'profile.edit.submit'|trans }}" /></a>
    </div>

{{ form_end(form) }}
